body{
  background-color: BLACK;
  font-style: italic;
  font-color: RED;
}

p{
  color: #D4AF37;
}
#text-col{
  color: #D4AF37;
}

table {
  border-collapse: collapse;
  color: #D4AF37;
}

table, td, th {
  border: 1px #D4AF37;
  border-style: solid;
}

/* table.browserref te{
    height: 44px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    font-weight: normal;
    color: #555555;
    padding: 11px 5px 11px 5px;
    vertical-align: middle;
} */
