body{
  background-color: BLACK;
  font-style: italic;
  font-color: RED;
}

p{
  color: #D4AF37;
}
#text-col{
  color: #D4AF37;
}

table {
  border-collapse: collapse;
  color: #D4AF37;
}

table, td, th {
  border: 1px #D4AF37;
  border-style: solid;
}
